@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(./Assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  max-width: 1400px;
}

.gradie {
  background: #1d4458;
  text-align: center;
  width: 350px;
  height: 460px;
  padding: 30px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.text {
  height: 0px;
}

.text h1 {
  color: #fff;
}

.text p {
  color: #6c98a1;
  margin-top: 5px;
}

.img img {
  width: 320px;
  height: 430px;
}

.login {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 350px;
  height: 460px;
  padding: 30px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.content {
  margin: auto;
  width: 250px;
}

.login h2 {
  font-size: 32px;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login form p {
  margin-top: 20px;
  font-weight: 700;
}

.login form input {
  padding: 15px;
  width: 230px;
  outline: none;
}

form span {
  line-height: 25px;
  width: 200px;
}

form span a {
  color: #0f415a;
  font-weight: 700;
  text-decoration: underline;
}

.login form [type="submit"] {
  background: #1d4458;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.check {
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

.checkbox [type="checkbox"] {
  width: 15px;
  margin-top: 5px;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
